{% extends "index.html" %}
{% block title %}justPlay!{% endblock %}
{% block content %}
<!-- folders loop -->
{% for folder_id, folder in folders.items() %}
<p style="color:gray;font-family: arial; font-size: 20px;padding-left: 20px;margin-top: 20px"> {{ folder['name'] }} </p>
<div class="row row-cols-1 row-cols-md-4 g-4">
		<!-- files loop -->
		{% for video_file in folder['file_samples'] %}
	    <div class="col">
	     	<div class="card animated">
			  <img id="video-card-image" src="/api/v1/videos/{{ video_file['id'] }}/thumb" width="50" class="card-img-top rounded-top " alt="{{ video_file['title'] }}">
			  <div id="video-card" class="card-body">
			    <h5 class="card-title">{{ video_file['title'] }}</h5>
			    <p class="card-text"></p>
			    <a href="/play/{{ video_file['id'] }}" class="stretched-link"></a>
			  </div>
			</div>
	  	</div>
	  	{% endfor %}
	  	<div>
	  		<center>
	  		<div class="col">
	     	<div class="card" >
			  <div class="card-body">
			    <h5 class="card-title"></h5>
			    <p class="card-text"></p>
			    <a href="/{{ folder_id }}" class="btn btn-primary">Ver más de {{ folder['name'][:30] }} </a>
			  </div>
			</div>
	  	</div>
	  </center>
	  	</div>
</div>
{% endfor %}
<script>
/*  dynamic import to avoid jquery ajax function xD
async function loadVideo(){
	const player_body = await fetch('/play/2');
	const body = await player_body.text();
	const content = document.getElementById('content')
	var parser = new DOMParser()
	var response = parser.parseFromString(body, "text/html")
	Array.from(response.getElementsByTagName('script')).forEach(element=>{
			setTimeout(()=>{
				if(element.src !== ''){
					var script = document.createElement("script")
					script.src = element.src;
					script.type = "text/javascript"
					document.head.appendChild(script)
				}else{
					eval(element.text)
				}}, 2000)
	})
	content.innerHTML = body;
} */
</script>
{% endblock %}