@font-face {
	font-family: bebas;
	src: url('fonts/BebasNeue-Regular.otf');
	font-weight: bold;
}

.folder-view {
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	margin-bottom: 50px;
}

#folder-title {
	color: white;
	text-decoration: none;
	cursor: default;
}

#file {
	transition:0.5s;
	background-color: black;
	padding: 15px;
	border-radius: 2px;
	width: 200px;
	height: 250px;
	margin: 10px;
	overflow: hidden;
}

#file:hover {
	transition:1s;
	background-color:rgb(51, 51, 56);
}
#file a {
	text-overflow: ellipsis;
	color: white;
	text-decoration: none;
}

img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 2px;
}

/* player view */
#video_container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 5px;
 }

/* for mobile screen */
@media screen and (max-width: 600px) {
	#video_container {
		width: 100%;
	}
}

 #video_player {
	width: 80%;
 }

#video-player-title {
	color:white;
	padding:20px;
}



.folder-title {
	padding:15px;
}

.folder-title a {
	text-decoration:none;
}

.folder-title a:visited {
	text-decoration:none;
	color:white;
}


#view-more {
	align-self: center;
	justify-self: center;
	margin-top: 20px;
}
#view-more button {
	transition: 0.5s;
	text-decoration: none;
	color:white;
	background-color: rgb(13, 13, 14);
	width:90px;
	border-radius: 13px;
	height:120px;
	border:none;
}


#view-more button:hover {
	transition: 1s;
	background-color: rgb(24, 24, 31);
}