{% extends "index.html" %}
{% block title %}{{ media_info['title'] }}{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
<div id="video_container">
   <h2 id="video-player-title"> {{ media_info['title'] }}</h2>
   <center>
      <!-- Unsupported video format -->
      {% if media_info['mime'] == 'video/avi' %}
      ||Sorry, but this format is not supported :(
      ||Please, try with <a href="/play/{{ media_info['id'] }}/stream"> stream or Download the video. </a> option. 
      
      {% elif media_info['type'] == 'music' %}
      <div style="display:flex;justify-content: center">
        <img id="cover-music" src="/api/v1/videos/{{ media_info['id'] }}/thumb"><br>
        <audio src="/api/v1/videos/{{ media_info['id'] }}/download" style="padding-top:250px;width:100%;margin:0;bottom:50%" autoplay controls></audio>
      </div>
        <!-- Load FLV Player -->
      {% elif media_info['mime'] == 'video/flv' %}
      <script src={{ url_for('static', filename='js/players/flv.js' ) }}></script>
         <video id="video_player" controls preload>
            <track kind="subtitles" label="Spanish" srclang="es" src="/api/v1/videos/{{ media_info['id'] }}/subtitle">
         </video>

      <!-- Load Normal Player -->
      {% else %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/BMSVieira/moovie.js@latest/css/moovie.min.css">
      <video id="video_player" poster="/api/v1/videos/{{ media_info['id'] }}/thumb" controls preload>
         <source src="/api/v1/videos/{{ media_info['id'] }}/download" type="{{ media_info['mime'] }}">
         <track kind="captions" label="Spanish" srclang="es" src="/api/v1/videos/{{ media_info['id'] }}/subtitle">
      </video>
      <script src="https://cdn.jsdelivr.net/gh/BMSVieira/moovie.js@latest/js/moovie.min.js"></script>
      {% endif %}

      <!-- Aditional options -->
      <div style="font-weight: bold">
         <br>
         Play with 
         <a href="/api/v1/videos/{{ media_info['id'] }}/download"> External Player </a>
         <span> or </span>
         <a href="/play/{{ media_info['id'] }}/stream"> Stream </a>
      </div>
   </center>
</div>
<script> 
   // Load FLV Player
   {% if media_info['format'] in [".flv"] %}
   if (flvjs.isSupported()) {
      var videoElement = document.getElementById('video_player');
      var flvPlayer = flvjs.createPlayer({
         type: 'flv',
         url: '/api/v1/videos/{{ media_info['id'] }}/download'
           });
      flvPlayer.attachMediaElement(videoElement);
      flvPlayer.load();
      flvPlayer.play();
   }
   // Load Moovie JS Player
   {% else %}
   document.addEventListener("DOMContentLoaded", function () {
      var main_player = new Moovie({
         selector: "#video_player",
         dimensions: {
            width: "100%"
         },
         config: {
            i18n: {
               play: "(Play:Pausa)",
               mute: "(Silenciar:Desmutear)",
               subtitles: "(Activar:Desactivar) Subtitulos",
               config: "Configuración",
               fullscreen: "(Activar:Salir) en pantalla completa",
               main_topic: "Configuración:",
               main_caption: "Subtitulos",
               main_offset: "Retraso de Subtitulos",
               main_speed: "Velocidad",
               main_disabled: "Desactivado",
               main_default: "Defecto",
               caption_topic: "Subtitulos:",
               caption_back: "Atrás",
               caption_load: "Cargar desde el dispositivo",
               offset_topic: "Ajustar retardo de Subtitulos",
               speed_topic: "Ajustar velocidad"
            }
         },
         icons: {
            path: "{{ url_for('static', filename='/player/icons/') }}"
         }
      });
   });
   {% endif %}
    // Automatic reproduction for audio files.
    var video = document.getElementsByTagName('audio')[0];
    video.onended = function(e) {
      setTimeout(function() {
         window.location.href = "/play/{{ media_info['id'] + 1 }}";
      }, 100000);
    };
</script>
{% endblock %}