{% extends "index.html" %}
{% block title %}{{ video_info['title'] }}{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/BMSVieira/moovie.js@latest/css/moovie.min.css">
<div id="video_container">
	<center>
      <!-- FIX POSTER URL -->
   {% if video_info['format'] in ['.avi']%}
      Sorry, but this format is not supported :(
      Please, try with <a href="/play/{{ video_info['id'] }}/stream"> stream </a> option.

   {% elif video_info['format'] in [".flv"] %}
      <script src={{ url_for('static', filename='js/players/flv.js') }}></script>
      <video id="video_player" controls class="mh-50 mw-100"></video>
     
   {% else %}
      <video id="video_player" poster="/api/v1/videos/{{ video_info['id'] }}/thumb">
            <source src="/api/v1/videos/{{ video_info['id'] }}/download" type="video/mp4"> 
            <track kind="captions" label="Spanish" srclang="es" src="/captions/sub.vtt">
      </video>
      <script src="https://cdn.jsdelivr.net/gh/BMSVieira/moovie.js@latest/js/moovie.min.js"></script>
   {% endif %}
   <hr>
   <a href="/api/v1/videos/{{ video_info['id'] }}/download"> Descargar </a>
   <span>/</span>
   <a href="/play/{{ video_info['id'] }}/stream"> Stream </a>
</center>
</div>

<style>
@media (min-width:992px) {
   #video_container {
   	display: block;
     	margin-left: auto;
     	margin-right: auto;
     	width: 50%;
      padding: 5px;
   }
}
</style>

<script>
{% if video_info['format'] in [".flv"] %}
   if (flvjs.isSupported()) {
           var videoElement = document.getElementById('video_player');
           var flvPlayer = flvjs.createPlayer({
               type: 'flv',
               url: '/api/v1/videos/{{ video_info['id'] }}/download'
           });
           flvPlayer.attachMediaElement(videoElement);
           flvPlayer.load();
           flvPlayer.play();
   }
{% else %}
document.addEventListener("DOMContentLoaded", function() {
   var main_player = new Moovie({
     selector: "#video_player",
     dimensions: {
          width: "100%"
     },
     config:{
        i18n : {
            play : "(Play:Pausa)",
            mute : "(Silenciar:Desmutear)",
            subtitles : "(Activar:Desactivar) Subtitulos",
            config : "Configuración",
            fullscreen : "(Activar:Salir) en pantalla completa",
            main_topic: "Configuración:",
            main_caption: "Subtitulos",
            main_offset: "Retraso de Subtitulos",
            main_speed: "Velocidad",
            main_disabled: "Desactivado",
            main_default: "Defecto",
            caption_topic: "Subtitulos:",
            caption_back: "Atrás",
            caption_load: "Cargar desde el dispositivo",
            offset_topic: "Ajustar retardo de Subtitulos",
            speed_topic: "Ajustar velocidad"
         }
     },
     icons: {
        path: "{{ url_for('static', filename='/player/icons/') }}"
     }
   });
});
{% endif %}
</script>
{% endblock %}